/resources
/Presentation Code/.vs/Presentations/FileContentIndex/37645f02-296d-4add-8ab5-e584d51dedb7.vsidx
/Presentations/.vs/Presentations/FileContentIndex/57463211-cc9d-42a4-b9ff-baa82fba020f.vsidx