/resources
/Current Presentation
/.vs/Presentations/FileContentIndex/127b4746-d590-42e0-9951-75f56b45c11a.vsidx
/.vs/Presentations/FileContentIndex/a26eeb8b-2d79-4c27-b4ac-6653bdd2d4cd.vsidx
/.vs/Presentations/FileContentIndex/60aea711-fea7-44f1-b08f-e763e42921a4.vsidx
