/Current Presentation
/.vs/Presentations/FileContentIndex/127b4746-d590-42e0-9951-75f56b45c11a.vsidx
/.vs/Presentations/FileContentIndex/a26eeb8b-2d79-4c27-b4ac-6653bdd2d4cd.vsidx
/.vs/Presentations/FileContentIndex/60aea711-fea7-44f1-b08f-e763e42921a4.vsidx
/.vs/Presentations/FileContentIndex/27632e65-8bb7-4a94-ae25-b45ad664123e.vsidx
*.vsidx
/.vs/Presentations/v17/.wsuo
/.vs/Presentations/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/Presentation Code/.vs/Presentations/FileContentIndex/37645f02-296d-4add-8ab5-e584d51dedb7.vsidx
/Presentations/.vs/Presentations/FileContentIndex/57463211-cc9d-42a4-b9ff-baa82fba020f.vsidx
*.vsidx
/.transfer
