################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Presentations/.vs/Presentations/FileContentIndex/227eaa59-80d8-458a-b581-bcd8fd23d2c7.vsidx
